i.layui-edge{
  display: none;
}
.select input.layui-input{
  display: none;
}
.yselect{
  display: block !important;
  padding-right: 30px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding-left: 10px;
  height: 38px;
  line-height: 1.3;
  line-height: 38px\9;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  color: rgba(0,0,0,.85);
  border-radius: 2px;
  border-color: #eee;
}

.content{
  margin-left: 10px;
  margin-right: 10px;
}
.btn{
  text-align: center;
}
.formConent{
  padding: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
.formConent  .layui-form-item  .layui-form-label{
  width: 100px;
} 
/* 一列的表单 */
.formList form >.layui-form-item .layui-input-inline{
  width: 700px;
}

h3{
  line-height: 60px
}

tableInfo{
  width: 100%;
  overflow: hidden;
}

.layui-form-item > a > .btn{
  margin: 0 20px;
}

.tableOut{
 display: flex;
 justify-content: center;
}
.tableInfo{
  width: 80%;
}
.tableInfo tr:nth-child(1){
  background-color: #5781b1;
  color: aliceblue;
}
.tableInfo tr:nth-child(1):hover{
  background-color:#33333380;
  transition: all 0.5s;
}
