<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssm.mapper.StuCarCardMapper">
    <insert id="addCarCard">
        insert into t_stu_carcard (card_name, card_number, card_cosume, stu_id, card_state)
        values (#{params.cardName},#{params.cardNumber},#{params.cardCosume},#{params.stuId},'0')
    </insert>

    <delete id="deleteCarCardByStuId">
        delete from t_stu_carcard where stu_id=#{stuId}
    </delete>

    <select id="getCarCardByStuId" resultType="com.example.ssm.pojo.StuCarCard">
        select * from t_stu_carcard where stu_id=#{id}
    </select>

    <update id="rechargeCardConsume">
        update t_stu_carcard set card_cosume = CAST(card_cosume AS DECIMAL(10,2)) + #{params.AmountMoney} where card_id = #{params.cardId}
    </update>
</mapper>